//
   Created with JetBrains WebStorm.
   User: Johnny
   Date: 28/04/13
   Time: 16:31
   To change this template use File | Settings | File Templates.

extends layout

block scripts
  script(src='/javascripts/backend.js')

  script
    $(document).ready(function() {

      checkField($('#error_cktl'));
      checkField($('#msg_cktl'));
      checkField($('#error_ingredient'));
      checkField($('#msg_ingredient'));

      $('#info-cktl').on('hide', function () {
        $('#info-cktl-title').empty();
        $('#info-cktl-img').empty();
        $('#info-cktl-info').empty();
      });

      cargarCocktails();
      cargarIngredientes();

      $('#btn-new-cktl').click(function() {
        nuevoCocktail();
      });

      $('#btn-new-ingredient').click(function() {
        nuevoIngrediente();
      });
    });


block content
  #header.well
    h1(style='text-align: center;')
      a(href='/admin') #{title}

  #content.container-fluid
    .row-fluid
      .span7
        #recommended-cocktail.well
          h2 Cocktails
          #recommended-cocktail-container
            .progress.progress-striped.active
              #pb-cocktails.bar(style='width: 0%;')
          #div-dropdown.btn-group.hide
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#') Elige un cocktail
            ul#ul-cocktails.dropdown-menu
          &nbsp;
          &nbsp;
          button#btn-new-cktl.btn.btn-primary.hide Nuevo cocktail
          #alerts
            #error_cktl.alert.alert-error #{error_cktl}
            #msg_cktl.alert.alert-info #{msg_cktl}

      .span5
        #ingredients.well
          h2 Ingredientes
          #ingredients-container
            .progress.progress-striped.active
              #pb-ingredients.bar(style='width: 0%;')
          #drop-zumos.btn-group.hide
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#') Zumos
            ul#ul-zumos.dropdown-menu
          &nbsp;
          &nbsp;
          #drop-licores.btn-group.hide
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#') Licores
            ul#ul-licores.dropdown-menu
          &nbsp;
          &nbsp;
          #drop-carbonicos.btn-group.hide
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#') Carb贸nicos
            ul#ul-carbonicos.dropdown-menu
          &nbsp;
          &nbsp;
          #drop-vasos.btn-group.hide
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#') Vasos
            ul#ul-vasos.dropdown-menu

  #info-cktl.modal.hide.fade
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
      h3#info-cktl-title
    .modal-body
      .container-fluid
        .row-fluid
          .span3#info-cktl-img
          .span9#info-cktl-info
    .modal-footer
      a#info-cktl-guardar.btn.btn-primary Recomendar

  #new-cktl.modal.hide.fade
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
      h3#info-cktl-title Nuevo cocktail
    .modal-body
      form#form-new-cktl.form-horizontal(action='/cocktails_admin', method='post')
        .control-group
          label.control-label(for='inputNombre') Nombre
          .controls
            input#inputNombre(type='text', placeholder='Nombre', name='nombre', required)
        .control-group
          label.control-label(for='inputZumos') Zumos
          .controls
            select#inputZumos(multiple='multiple', name='zumos', required)
        .control-group
          label.control-label(for='inputLicores') Licores
          .controls
            select#inputLicores(multiple='multiple', name='licores', required)
        .control-group
          label.control-label(for='inputCarbonico') Carb&oacute;nico
          .controls
            select#inputCarbonico(name='carbonico', required)
        .control-group
          label.control-label(for='inputVaso') Vaso
          .controls
            select#inputVaso(name='vaso', required)
    .modal-footer
      btn#new-cktl-guardar.btn.btn-primary(onclick='$("#form-new-cktl").submit();') Guardar

  #new-ingredient.modal.hide.fade
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
      h3#info-cktl-title Nuevo ingrediente
    .modal-body
      form#form-new-ingredient.form-horizontal(action='/ingredients', method='post', enctype='multipart/form-data')
        .control-group
          label.control-label(for='inputDescripcion') Descripci贸n
          .controls
            input#inputDescripcion(type='text', placeholder='Descripci贸n', name='descripcion', required)
        .control-group
          label.control-label(for='inputTipo') Tipo
          .controls
            select#inputZumos(name='tipo', required)
              option(value='Zumo') Zumo
              option(value='Licor') Licor
              option(value='Carbonico') Carb贸nico
              option(value='Vaso') Vaso
        .control-group
          label.control-label(for='inputImagen') Imagen
            input#inputImagen(type='file', name='imagen', required)
    .modal-footer
      btn#new-cktl-guardar.btn.btn-primary(onclick='$("#form-new-ingredient").submit();') Guardar