//
   Created with JetBrains WebStorm.
   User: Johnny
   Date: 2/05/13
   Time: 18:04
   To change this template use File | Settings | File Templates.

extends layout

block style
  style
    #cktl-container {
      margin-left: auto;
      margin-right: auto;
      width: 65%;
    }

    #cktl-img {
      text-align: center;
    }

block scripts
  script(src='/javascripts/frontend.js')
  script
    $(document).ready(function() {
      window.fbAsyncInit = function() {
          // init the FB JS SDK
          FB.init({
          appId      : '326614590799358',                        // App ID from the app dashboard
          channelUrl : '//sinatracockteleria.herokuapp.com', // Channel file for x-domain comms
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
          });
          // Additional initialization code such as adding Event Listeners goes here
          FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
              // the user is logged in and has authenticated your
              // app, and response.authResponse supplies
              // the user's ID, a valid access token, a signed
              // request, and the time the access token
              // and signed request each expire
              var uid = response.authResponse.userID;
              var accessToken = response.authResponse.accessToken;
            } else if (response.status === 'not_authorized') {
              // the user is logged in to Facebook,
              // but has not authenticated your app
            } else {
              // the user isn't logged in to Facebook.
              FB.login(function(response) {
                if (response.authResponse) {
                    // The person logged into your app
                } else {
                    // The person cancelled the login dialog
                }
              });
            }
          });
      };
      // Load the SDK asynchronously
          (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js";
          fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

      var id_cocktail = '#{id_cocktail}';
      cargarCocktail(id_cocktail);

      checkField($('#errors'));
      checkField($('#msgs'));




    });





block content
  #fb-root
  .container-fluid
    #cktl-container.well
      .progress.progress-striped.active
        #pb-bar.bar(style='width: 10%;')
      .row-fluid
        #cktl-img.hide.span4
        #cktl-info.hide.span8
            #info-container
            #ratings.hide(style='padding-top: 2em;')
              form(method='post', action='/web/ratings')
                  input(type='hidden', name='id_cocktail', value='#{id_cocktail}')
                  input(type='hidden', name='rating', id='ratingfield')
                  button(type='submit', onclick='$("#ratingfield").val(1);')
                    img(src='/images/ratings/r1.png', alt='Muy mal', width="50")
                  button(type='submit', onclick='$("#ratingfield").val(2);')
                    img(src='/images/ratings/r2.png', alt='Mal', width="50")
                  button(type='submit', onclick='$("#ratingfield").val(3);')
                    img(src='/images/ratings/r3.png', alt='Regular', width="50")
                  button(type='submit', onclick='$("#ratingfield").val(4);')
                    img(src='/images/ratings/r4.png', alt='Bien', width="50")
                  button(type='submit', onclick='$("#ratingfield").val(5);')
                    img(src='/images/ratings/r5.png', alt='Muy bien', width="50")
                  br
                  input(type='text', name='id_user', value='jooohnny32')
      .row-fluid
        #errors.alert.alert-error.hide #{error}
        #msgs.alert.alert-info.hide #{msg}
