extends layout

block style
  style
    body {
      padding: 0;
    }

block content
  #banner
    img(src='/images/website/logo.jpg', alt='Sinatra Cockteleria', style='margin-left: auto; margin-right: auto;')
  #content-index
    img(src='/images/website/android_app.png', alt='Aplicación para Android', class='img-android')
    &nbsp;
    img(src='/images/website/android_app.png', alt='Aplicación para Android', class='img-android')
    br
    a(href='https://play.google.com/store/apps/details?id=com.claramanrique.sinatracockteleria')
      img(src='https://developer.android.com/images/brand/es_generic_rgb_wo_60.png', alt='Get it on Google Play')
  #credits
    &copy; 2013 &ndash; José Antonio Manrique Carrillo y Jonathan Clara Márquez &ndash; Todos los derechos reservados.
