//
   Created with JetBrains WebStorm.
   User: Johnny
   Date: 28/04/13
   Time: 12:58
   To change this template use File | Settings | File Templates.

extends layout

block scripts
  script(src='/javascripts/sha256.js')
  script
    $(document).ready(function() {
      checkField($('#errors'));
    });

block content
  #login-container
    form(method="post", action="/login", onsubmit="$('#passenc-tf').val(Sha256.hash($('#pass-tf').val())); $('#pass-enc').val('');")#login-form.well
      p.subheading Por favor, inicie sesión para continuar.
      label Usuario
      input(type="text", name="user", id='user-tf').span4.required
      label Password
      input(type="password", name="pass", id='pass-tf').span4.required
      input(type="hidden", name="passenc", id='passenc-tf')
      #errors.alert.alert-error #{error}
      .form-inline.row-fluid
        button(type="submit")#btn-login.btn.btn-primary.span4
          i.icon-lock.icon-white
          | &nbsp;Entrar
        label#remember-me.checkbox.span5.pull-right No cerrar sesi&oacute;n
          input(type="checkbox", checked='checked')
      div.clear-fix


