body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000000;
}

#content {
  padding: 0;
}

#login-form {
  width: 22em;
  margin: auto;
}

a {
  color: #00B7FF;
}

#ingredients, #recommended-cocktail
{
  height: 10em;
}

#banner
{
  width: 100%;
  text-align: center;
  height: 12em;
}

#banner img
{
  height: 100%;
}

#content-index
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img-android
{
  margin: 1em;
  height: 33em;
}

#credits
{
  margin-top: 1.5em;
  font-size: small;
  color: silver;
  text-align: center;
}