body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkslategray;
}

#content {
  padding: 0;
}

#login-form {
  width: 22em;
  margin: auto;
}

a {
  color: #00B7FF;
}

#ingredients, #recommended-cocktail
{
  height: 10em;
}