body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000000;
}

#content {
  padding: 0;
}

#login-form {
  width: 22em;
  margin: auto;
}

a {
  color: #00B7FF;
}

#ingredients, #recommended-cocktail
{
  height: 10em;
}

#banner
{
  width: 100%;
  text-align: center;
  height: 12em;
}

#banner img
{
  height: 100%;
}

#content-index
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img-android
{
  margin: 1em;
  height: 33em;
}

#credits
{
  margin-top: 2em;
  font-size: smaller;
  color: silver;
  text-align: center;
}

#logo-play-store
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Border imatges */
.border-amarillo{
  border: 2px solid gold;
}

.border-rojo{
  border: 2px solid red;
}

.border-verde{
  border: 2px solid greenyellow;
}

.border-naranja{
  border: 2px solid orange;
}

.border-amarillo, .border-rojo, .border-verde, .border-naranja {
  border-radius: 5px;
}
